<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/manager}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Styles -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" /> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
    <!-- Or for RTL support -->
    <!-- <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.rtl.min.css" /> -->


    <title>Project</title>
</head>

<body>
    <div class="container-fluid py-4" layout:fragment="container">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="d-flex justify-content-between align-items-center mt-3 px-3">
                        <div class="card-header">
                            <h6>project table</h6>
                        </div>
                        <button type="button" data-bs-toggle="modal" data-bs-target="#add-project"
                            class="btn bg-gradient-info" onclick="getEmployee()">ADD</button>
                    </div>
                    <div class="card-body px-0 pt-0 pb-2">
                        <div class="table-responsive p-0">
                            <table id="project-table" class="table align-items-center mb-0">
                                <thead>
                                    <tr>
                                        <th class="text-uppercase text-secondary text-center opacity-7 col-1">
                                            No</th>
                                        <th
                                            class="text-uppercase text-secondary text-center font-weight-bolder opacity-7 col-2">
                                            Name</th>
                                        <th
                                            class="text-uppercase text-secondary text-center text-center font-weight-bolder opacity-7 col-1">
                                            Client</th>
                                        <th
                                            class="text-uppercase text-secondary text-center font-weight-bolder opacity-7 col-2">
                                            Member</th>
                                        <th
                                            class="text-uppercase text-secondary text-center font-weight-bolder opacity-7 col-1">
                                            Budget</th>
                                        <th class="text-uppercase text-secondary text-center opacity-7"> Action </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- data table -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- add project -->
            <div class="modal fade" id="add-project" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add Project</h5>
                            <button type="button" class="btn-close text-dark" data-bs-dismiss="modal"
                                aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="p-4 ">
                                <form id="submit-add">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="add-name" class="fs-6 fw-bold">Name</label>
                                                <input type="text" class="form-control form-control-alternative"
                                                    id="add-name">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="add-client" class="fs-6 fw-bold">Client</label>
                                                <input type="text" class="form-control form-control-alternative"
                                                    id="add-client">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="add-description" class="fs-6 fw-bold">Description</label>
                                                <textarea rows="4" cols="43" id="add-description"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="add-start" class="fs-6 fw-bold">Start</label>
                                                <input type="date" class="form-control form-control-alternative"
                                                    id="add-start">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="add-end" class="fs-6 fw-bold">End</label>
                                                <input type="date" class="form-control form-control-alternative"
                                                    id="add-end">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="add-budget" class="fs-6 fw-bold">Budget</label>
                                                <input type="text" class="form-control form-control-alternative"
                                                    id="add-budget">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="add-employee" class="fs-6 fw-bold">Team</label>
                                                <select class="form-select" id="add-employee"
                                                    data-placeholder="Choose anything" multiple>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn bg-gradient-secondary"
                                data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn bg-gradient-info" onclick="addProject()">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- update project -->
            <div class="modal fade" id="update-project" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">update Project</h5>
                            <button type="button" class="btn-close text-dark" data-bs-dismiss="modal"
                                aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="p-4 ">
                                <form id="submit-add">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="hidden" class="form-control form-control-alternative"
                                                    id="update-id">
                                                <label for="update-name" class="fs-6 fw-bold">Name</label>
                                                <input type="text" class="form-control form-control-alternative"
                                                    id="update-name">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="update-client" class="fs-6 fw-bold">Client</label>
                                                <input type="text" class="form-control form-control-alternative"
                                                    id="update-client">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="update-description" class="fs-6 fw-bold">Description</label>
                                                <textarea rows="4" cols="43" id="update-description"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="update-start" class="fs-6 fw-bold">Start</label>
                                                <input type="date" class="form-control form-control-alternative"
                                                    id="update-start">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="update-end" class="fs-6 fw-bold">End</label>
                                                <input type="date" class="form-control form-control-alternative"
                                                    id="update-end">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="update-budget" class="fs-6 fw-bold">Budget</label>
                                                <input type="text" class="form-control form-control-alternative"
                                                    id="update-budget">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="update-employee" class="fs-6 fw-bold">Team</label>
                                                <select class="form-select" id="update-employee"
                                                    data-placeholder="Choose anything" multiple>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn bg-gradient-secondary"
                                data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn bg-gradient-info" onclick="updateProject()">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- detail project-->
            <div class="modal fade" id="detail-project" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Detail project</h5>
                            <button type="button" class="btn-close text-dark" data-bs-dismiss="modal"
                                aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="p-4 ">
                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="detail-name" class="fs-6 fw-bold">Name</label>
                                                <input disabled type="text"
                                                    class="form-control form-control-alternative" id="detail-name">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="detail-client" class="fs-6 fw-bold">Client</label>
                                                <input disabled type="text"
                                                    class="form-control form-control-alternative" id="detail-client">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="detail-desc" class="fs-6 fw-bold">Description</label>
                                                <input disabled type="text"
                                                    class="form-control form-control-alternative" id="detail-desc">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="detail-start" class="fs-6 fw-bold">Date
                                                    start</label>
                                                <input disabled type="text"
                                                    class="form-control form-control-alternative" id="detail-start">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="detail-end" class="fs-6 fw-bold">Date end</label>
                                                <input disabled type="text"
                                                    class="form-control form-control-alternative" id="detail-end">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="detail-budget" class="fs-6 fw-bold">Budget</label>
                                                <input disabled type="text"
                                                    class="form-control form-control-alternative" id="detail-budget">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-md-8" style="text-align: center;">
                                            <span class="badge badge-pill badge-lg bg-gradient-success">Team
                                                Project</span>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center align-items-center mt-3">
                                        <div class="col-md-4">
                                            <div class="card card-plain text-center" id="manager">
                                                <!-- <a href="javascript:;">
                                                    <img class="avatar avatar-xl shadow"
                                                        th:src="@{/assets/img/marie.jpg}">
                                                </a>

                                                <div class="card-body">
                                                    <h4 class="card-title">Andrew John</h4>
                                                    <h6 class="category text-success text-gradient">Loan Counselor
                                                    </h6>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center align-items-center" id="employee">
                                        <!-- <div class="col-md-4">
                                            <div class="card card-plain text-center" id="employee">
                                                <a href="javascript:;">
                                                    <img class="avatar avatar-xl shadow"
                                                        th:src="@{/assets/img/marie.jpg}">
                                                </a>

                                                <div class="card-body">
                                                    <h4 class="card-title">Andrew John</h4>
                                                    <h6 class="category text-success text-gradient">Loan Counselor
                                                    </h6>
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                </form>
                            </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal"
                                onclick="emptyDetail()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div layout:fragment="script">
        <!-- Scripts -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.slim.min.js"></script> -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.full.min.js"></script>
        <script th:inline="javascript">
            $('#add-employee').select2({
                theme: "bootstrap-5",
                width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
                placeholder: $(this).data('placeholder'),
                closeOnSelect: false,
            });
            $('#update-employee').select2({
                theme: "bootstrap-5",
                width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
                placeholder: $(this).data('placeholder'),
                closeOnSelect: false,
            });
            var userId = /*[[${User.id}]]*/ null; // Mendapatkan user id dari Thymeleaf
        </script>
        <script th:src="@{/assets/js/manager/project.js}"></script>

    </div>
</body>

</html>