<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <div class="container-fluid py-4" layout:fragment="container">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header pb-0">
                        <h6>Overtime table</h6>
                    </div>
                    <div class="card-body px-0 pt-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                                <thead>
                                    <tr>
                                        <th
                                            class="text-uppercase text-secondary text-secondary font-weight-bolder opacity-7 col-1">
                                            No</th>
                                        <th
                                            class="text-uppercase text-secondary text-secondary font-weight-bolder opacity-7 col-2">
                                            Job Task</th>
                                        <th
                                            class="text-uppercase text-secondary text-secondary font-weight-bolder opacity-7 col-2">
                                            Date</th>
                                        <th
                                            class="text-uppercase text-secondary text-secondary font-weight-bolder opacity-7 col-2">
                                            End</th>
                                        <th
                                            class="text-uppercase text-secondary text-secondary font-weight-bolder opacity-7 col-2">
                                            Overtime Pay</th>
                                        <th
                                            class="text-uppercase text-secondary text-secondary font-weight-bolder opacity-7 col-2">
                                            Message</th>
                                        <th
                                            class="text-uppercase text-secondary text-secondary font-weight-bolder opacity-7 col-2">
                                            Status</th>
                                        <th
                                            class="text-uppercase text-secondary text-secondary font-weight-bolder opacity-7 col-2">
                                            Employee</th>
                                        <th class="text-secondary opacity-7"> Action </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="overtime, key : ${overtimes}">
                                        <td th:text="${key.count}" class="ps-4"></td>
                                        <td th:text="${overtime.jobTask}"></td>
                                        <td th:text="${overtime.date}"></td>
                                        <td th:text="${overtime.end}"></td>
                                        <td th:text="${overtime.overtimePay}"></td>
                                        <td th:text="${overtime.message}"></td>
                                        <td th:text="${overtime.status}"></td>
                                        <td th:text="${overtime.employee.name}"></td>
                                        <td>
                                            <!-- Action buttons here -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div layout:fragment="script"></div>
</body>

</html>